Android*
bitmonero
buidler-nodejs
calcurse
data
gem
go
Google
gradle
gvfs-metadata
hardhat-nodejs
history
hashcat
icons-in-terminal
ipfs
kabmat
kcookiejar
kdenlive
kotlin
krita*
kwalletd
Mail
man
mime
Monero
Mousepad
mypaint
next-prayer
zathura
xorg
xfce4
x11docker
webkitgtk
vlc
user-places*
Trash
TelegramDesktop
storj
stalefiles
sqlite_history
recently-used.xbel
RecentDocuments
Quran
password-store
nyxt
nvim
npm
newsboat
electrum
node_repl_history
zoom
