Android*
Brave*
cargo
coc
conan
configstore
dart
dconf
*.jpg
Electron
Element
enchant
Ganache
GIMP
Google
grip
hardhat-nodejs
htop
java
jgit
jxbrowser
kconf_updaterc
kdeglobals
krita*
kdenlive*
kwalletrc
libfm
libreoffice
libvirt
lsd
matplotlib
MongoDB*
Mousepad
nextjs-nodejs
nuclear
nvm
onionshare
pcmanfm
procps
pulse
QtProject.conf
rclone
ristretto
s-tui
subversion
tool_state
truffle
VirtualBox
wireshark
xfce4
xpra
yarn
yay
nnn
*conan*
