# Variables
SHELL=/usr/bin/bash
MAILTO=cronlog

# Update Databases
0 0 * * * /usr/bin/sudo /usr/bin/updatedb
0 0 * * * /usr/bin/sudo /usr/bin/mandb

# Cronie Directory
*/5 * * * *  $HOME/.local/sbin/cronie/cr-sync-mail
30 23 */6 * *	$HOME/.local/sbin/cronie/cr-update-pacman
# 0,50 * * * *  $HOME/.local/sbin/cronie/cr-pomodoro
# 0 6 * * *	    $HOME/.local/sbin/cronie/cr-quote-ar

# Backups
0 0 * * * /usr/bin/crontab -l > $HOME/.config/crontab

# RSS Feed
0 * * * * /usr/bin/newsboat -x reload
